In [1]:
import pandas as pd

from utils import helper_funtions

In [2]:
pd.options.display.max_columns = None  # Remove "dots" from display when printing dataframes

In [3]:
PATH = helper_funtions.get_path()
print(PATH)

c:\Users\montenegrot.7\OneDrive - Teleperformance\Documentos\Proyectos\TP_technical_test_DS/

# Read data

In [29]:
df = pd.read_excel(PATH + 'data\Sales_outbound.xlsx')
df.sample(n=5).head()

,Client_ID,Name,Age,Location,Income,TAX,previous sales_#,Type_of_Products,Contact_Channel,Contact_hour,Num_Contacts,Satisfaction_Score,Sales
905,906,NaN,30,CA,88067.0,13210.05,4,B,Online Chat,10:30:00,2,1,1
414,415,NaN,21,TX,81196.0,12179.40,0,C,Email,10:30:00,2,5,0
949,950,NaN,30,IL,83909.0,12586.35,2,A,Online Chat,09:00:00,2,1,0
924,925,NaN,28,FL,85267.0,12790.05,2,B,Phone,14:00:00,5,1,1
564,565,NaN,48,CA,87804.0,13170.60,5,C,Email,09:45:00,5,5,1

## Describe data

In [34]:
print(f'Filas: {df.shape[0]}\nColumnas: {df.shape[1]}')
df.dtypes

Filas: 1000
Columnas: 13

Client_ID               int64
Name                  float64
Age                     int64
Location               object
Income                float64
TAX                   float64
previous sales_#        int64
Type_of_Products       object
Contact_Channel        object
Contact_hour           object
Num_Contacts            int64
Satisfaction_Score      int64
Sales                   int64
dtype: object

In [33]:
df.describe()

,Client_ID,Name,Age,Income,TAX,previous sales_#,Num_Contacts,Satisfaction_Score,Sales
count,1000.000000,0.0,1000.000000,996.000000,996.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,NaN,41.191000,63100.329317,9465.049398,2.052000,3.492000,2.558000,0.269000
std,288.819436,NaN,12.259234,21638.692537,3245.803881,2.635952,2.399102,1.331318,0.443662
min,1.000000,NaN,18.000000,5000.000000,750.000000,-7.000000,1.000000,1.000000,0.000000
25%,250.750000,NaN,31.000000,46277.750000,6941.662500,0.000000,2.000000,1.000000,0.000000
50%,500.500000,NaN,40.500000,62770.500000,9415.575000,1.000000,3.000000,2.000000,0.000000
75%,750.250000,NaN,51.000000,80618.000000,12092.700000,4.000000,5.000000,3.000000,1.000000
max,1000.000000,NaN,125.000000,165355.000000,24803.250000,25.000000,33.000000,5.000000,1.000000

In [28]:
# Homogenise column names in the data set
df = df.rename({
    'previous sales_# ':'Previous_sales',
    'Type_of_Products':'Type_products',
    'Contact_Channel':'Contact_channel',
    'Num_Contacts':'Num_contacts',
    'Satisfaction_Score':'Satisfaction_score'
    }, axis=1)

In [27]:
df['previous sales_# '].value_counts()

previous sales_#
 0     425
 1     131
 2     104
 4      95
 3      76
 6      52
 5      49
 7      23
 8      21
 9      14
 10      6
 20      1
 25      1
-5       1
-7       1
Name: count, dtype: int64

# EDA