In [29]:
import pandas as pd

from utils import helper_funtions

In [30]:
pd.options.display.max_columns = None  # Remove "dots" from display when printing dataframes

In [31]:
PATH = helper_funtions.get_path()

# Read data

In [32]:
df = pd.read_excel(PATH + 'data\Sales_outbound.xlsx')
df.sample(n=5).head()

,Client_ID,Name,Age,Location,Income,TAX,previous sales_#,Type_of_Products,Contact_Channel,Contact_hour,Num_Contacts,Satisfaction_Score,Sales
107,108,NaN,46,CA,69062.0,10359.30,3,A,Email,10:45:00,3,1,0
195,196,NaN,43,IL,76413.0,11461.95,0,B,Email,09:45:00,2,3,0
246,247,NaN,40,IL,98388.0,14758.20,2,C,Online Chat,14:00:00,3,1,1
293,294,NaN,49,IL,30661.0,4599.15,0,B,Phone,06:00:00,3,2,0
274,275,NaN,23,FL,61367.0,9205.05,1,A,Email,15:00:00,3,3,0

## Describe data

In [33]:
print(f'Filas: {df.shape[0]}\nColumnas: {df.shape[1]}')
df.dtypes

Filas: 1000
Columnas: 13

Client_ID               int64
Name                  float64
Age                     int64
Location               object
Income                float64
TAX                   float64
previous sales_#        int64
Type_of_Products       object
Contact_Channel        object
Contact_hour           object
Num_Contacts            int64
Satisfaction_Score      int64
Sales                   int64
dtype: object

In [34]:
df.describe()

,Client_ID,Name,Age,Income,TAX,previous sales_#,Num_Contacts,Satisfaction_Score,Sales
count,1000.000000,0.0,1000.000000,996.000000,996.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,NaN,41.191000,63100.329317,9465.049398,2.052000,3.492000,2.558000,0.269000
std,288.819436,NaN,12.259234,21638.692537,3245.803881,2.635952,2.399102,1.331318,0.443662
min,1.000000,NaN,18.000000,5000.000000,750.000000,-7.000000,1.000000,1.000000,0.000000
25%,250.750000,NaN,31.000000,46277.750000,6941.662500,0.000000,2.000000,1.000000,0.000000
50%,500.500000,NaN,40.500000,62770.500000,9415.575000,1.000000,3.000000,2.000000,0.000000
75%,750.250000,NaN,51.000000,80618.000000,12092.700000,4.000000,5.000000,3.000000,1.000000
max,1000.000000,NaN,125.000000,165355.000000,24803.250000,25.000000,33.000000,5.000000,1.000000

In [35]:
# imputaciones
# df.query("Age > 70")

In [36]:
# Homogenise column names in the data set
df = df.rename({
    'previous sales_# ':'Previous_sales',
    'Type_of_Products':'Type_products',
    'Contact_Channel':'Contact_channel',
    'Num_Contacts':'Num_contacts',
    'Satisfaction_Score':'Satisfaction_score'
    }, axis=1)

In [37]:
df['Previous_sales'].value_counts()

 0     425
 1     131
 2     104
 4      95
 3      76
 6      52
 5      49
 7      23
 8      21
 9      14
 10      6
 20      1
 25      1
-5       1
-7       1
Name: Previous_sales, dtype: int64

# EDA

# Preprocesing

In [38]:
df['UUID_client'] = df['Client_ID'].apply(
    lambda x: helper_funtions.uuid_generator(x)
    )

AttributeError: module 'utils.helper_funtions' has no attribute 'uuid_generator'